/.idea/
/phpunit.xml
/autom4te.cache/
/config.guess
/missing
/.libs/
/config.status
/run-tests.php
/.deps
/aclocal.m4
/config.nice
/configure.in
/libtool
/build/
/install-sh
/vendor/
/config.h
/acinclude.m4
/Makefile.global
/configure
/lilt.la
/Makefile
/CMakeLists.txt
/config.h.in
/Makefile.fragments
/Makefile.objects
/composer.phar
/lilt.lo
/config.sub
/mkinstalldirs
/ltmain.sh
/modules/
/config.log
/composer.lock
